<!DOCTYPE html>
<html class="app-background">
	<head>
		<title>Mission Control</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/index.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover, maximum-scale=1.0, user-scalable=0"> 
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta name="apple-mobile-web-app-title" content="Mission Control" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="default" />
		<meta name="theme-color" content="{{SERVER_REPLACE_THEME_BACKGROUND}}" media="(prefers-color-scheme: light)" />
		<meta name="theme-color" content="{{SERVER_REPLACE_THEME_BACKGROUND}}" media="(prefers-color-scheme: dark)" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link rel="icon" href="/favicon.png">

		
		<!-- Splash Images -->
		<link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" href="/apple-splash/414x896@3x.png">
		<link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" href="/apple-splash/414x896@2x.png">
		<link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" href="/apple-splash/375x812@3x.png">
		<link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)" href="/apple-splash/414x736@3x.png">
		<link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="/apple-splash/375x667@2x.png">
		<link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" href="/apple-splash/1024x1366@2x.png">
		<link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="/apple-splash/1366x1024@2x.png">
		<link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" href="/apple-splash/834x1194@2x.png">
		<link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="/apple-splash/1194x834@2x.png">
		<link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" href="/apple-splash/834x1112@2x.png">
		<link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="/apple-splash/1112x834@2x.png">
		<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" href="/apple-splash/768x1024@2x.png">
		<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="/apple-splash/1024x768@2x.png">
	</head>
	<body class="app-background antialiased font-sans">
		<noscript class="block m-auto w-full h-screen flex items-center justify-center text-purple-300 text-2xl max-w-md leading-8">
			<p class="font-bold">
				You need to enable JavaScript to use Mission Control.
				<a class="mt-2 block link font-semibold" href="https://github.com/Capevace/mission-control/issues/39">We're working on a solution tho.</a>
			</p>
		</noscript>
		<div id="app" class="w-full">
			<mission-control-ui></mission-control-ui>
		</div>
	</body>
	<script type="text/javascript">
		window.onerror = function (message, source, lineno, colno, error)  {
			document.body.innerHTML += `<pre>aaa${JSON.stringify({message, source, lineno, colno, error}, null, 2)}</pre><br><br><br>`;
		}
	</script>
	<script type="text/javascript">
		window.MISSION_CONTROL_API_KEY = '{{SERVER_REPLACE_API_KEY}}';
		window.MISSION_CONTROL_URL = `${window.location.protocol}//${window.location.hostname}${window.location.port ? ':' + window.location.port : ''}`
			|| '{{SERVER_REPLACE_URL}}';
		window.MISSION_CONTROL_USER = {{SERVER_REPLACE_USER_JSON}};
		window.MISSION_CONTROL_PAGES = {{SERVER_REPLACE_PAGES_JSON}};
		window.MISSION_CONTROL_COMPONENTS_DICT = {{SERVER_REPLACE_COMPONENTS_DICT}};
		window.MISSION_CONTROL_THEME = '{{SERVER_REPLACE_THEME}}';
		// window.MISSION_CONTROL_INITIAL_STATE = {{SERVER_REPLACE_STATE_JSON}};
	</script>
	<script type="text/javascript" src="/assets/js/index.js"></script>

	{{SERVER_REPLACE_DASHBOARD_DATA}}
	
	<script type="text/javascript">
		// Call init components after all components have been registered
		if (window.MISSION_CONTROL && window.MISSION_CONTROL.dashboard)
			window.MISSION_CONTROL.dashboard.initComponents();
	</script>

	<link
		href="https://fonts.googleapis.com/css?family=JetBrains+Mono:300,400,500,600|Open+Sans:300,400,500,600,700"
		rel="stylesheet"
	/>

	<script type="text/javascript">
		if (document.fonts) {
			document.fonts.ready
				.then(function () { window.MISSION_CONTROL.dashboard.setReady(true) });
		} else {
			if (window.MISSION_CONTROL && window.MISSION_CONTROL.dashboard)
				window.MISSION_CONTROL.dashboard.setReady(true);
		}
	</script>
</html>
