<!DOCTYPE html>
<html>
	<head>
		<title>Login – Mission Control</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/index.css" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link rel="icon" href="/favicon.png">
	</head>
	<body class="app-background h-screen text-white antialiased font-sans flex justify-center items-center">
		<form action="/login" method="post" class="max-w-2xl bg-purple-600 rounded-2xl p-5 m-3 forms sm:mb-32">
			<h1 class="text-2xl font-bold mb-5 w-full text-center text-purple-200">Login</h1>
			<div class="text-purple-200 text-sm mb-5">{{ERROR_MSG}}</div>
			<div class="flex flex-wrap mb-5 w-full ">
				<label for="username" class="w-full text-xs mb-2 font-medium text-purple-lighter">Username</label>
				<input type="text" id="username" name="username" autocomplete="username" autofocus="autofocus" required/>
			</div>

			<div class="flex flex-wrap mb-8 w-full">
				<label for="password" class="w-full text-xs mb-2 font-medium text-purple-lighter">Password</label>
				<input type="password" id="password" name="password" autocomplete="password" class="" required />
			</div>

			<div class="submit-container">
				<button type="submit" id="login-button" class="w-full" >Login</button>
			</div>
		</form>

		<script type="text/javascript">
			document
				.querySelector('#login-button')
				.addEventListener('click', (e) => {
					e.target.disabled = true;
					e.target.textContent = 'Logging in...'
				});
		</script>

		<link
			href="https://fonts.googleapis.com/css?family=Open+Sans:400|500"
			rel="stylesheet"
		/>
	</body>
</html>
